# Ignore WordPress core files
wp-admin/
wp-includes/
wp-content/upgrade/
wp-content/backup-db/
wp-content/backups/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/upgrade/

# Ignore configuration files
wp-config.php
wp-config-sample.php

# Ignore logs and temporary files
*.log
.htaccess
*.bak
*.swp

# Ignore user-specific files
wp-content/plugins/hello.php
wp-content/themes/twenty*/

# Ignore development-related files and directories
node_modules/
/dist/
/build/

# Ignore npm package lock file
package-lock.json

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore environment-specific configuration
.env
